@model IEnumerable<FoodConstructor.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "EditOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuePointId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuePointId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrder", new { orderId = item.Id }) |
            @Html.ActionLink("Delete", "DeleteOrder", new { orderId = item.Id })
        </td>
    </tr>
}

</table>
